.layout {
  display: flex;
  flex-direction: column;
}

.card-container {
  filter: drop-shadow(5px 5px 10px rgb(95, 84, 84));
  margin: 2em 1em 0 1em;
}

.button {
  background-color: #9352b4;
  border-radius: 1em;
  width: 10em;
  margin: auto;
  margin-top: 1em;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
